@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Hide scrollbars while keeping scroll enabled */
html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
